@page "/Unauthorize"
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<div class="login-container">
    <div class="login-card">
        <h1>Unauthorized</h1>
        <p class="subtitle">Google Authorization failed</p>
    </div>
</div>  
